.header__burger-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    display: none;
}

.header__burger-menu-el {
    width: 26px;
    height: 2px;
    margin: 3px 0;
    background: #D62329;

}

.header__burger-menu-el:nth-child(2) {
    width: 19px;
}

.header__sidebar {
    display: none;
    padding: 35px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);

}

.header__sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.header__sidebar-item {}

.header__sidebar-link {
    font-size: 18px;
    color: $black;
    text-transform: uppercase;
    white-space: nowrap;
}

.header__sidebar-link:hover {
    color: rgba(218, 28, 34, 1);
    ;
}

@media (max-width: 1000px) {
    .header__menu {
        display: none;
    }

    .header__burger-menu {
        display: flex;
    }

    .header__sidebar {
        // display: block;
    }
}