.events {}

.events__wrapper {}

.events__cards {
    display: flex;
    gap: 1%;
    overflow-x: auto;
}

.events__card {
    width: 24%;
}

.events__card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    margin-bottom: 12px;
}

.title-card {
   
}



.events__card-date-img {}

.events__card-date-text {
    
}

.card {}

.card__picture {}

.card__picture-img {}

.card__content-title {}

.card__content-text {}