.main {
    width: 100%;
}

.page-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(./img/banner-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
}

.page-banner::after {
    content: "";
    position: absolute;
    background-color: #2B0202;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 22%;
}


.page-banner__title {
    max-width: 674px;
    font-size: 96px;
    font-weight: 700;
    color: $white;
    text-align: center;
    z-index: 3;

}

.page-banner__title--size {
    font-size: 64px;
}

.page-banner__cards {
    position: absolute;
    bottom: -20px;
    right: 0;
    max-width: 100%;
    display: flex;
    gap: 30px;
    

}


.page-banner__card {
    position: relative;
    background-repeat: no-repeat;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    min-width: 252px;
    height: 226px;
    object-fit: cover;
    display: flex;
    align-items: flex-end;
    
}

.page-banner__card:hover::after {
    content: "";
    position: absolute;
    width: 45%;
    height: 226px;
    background-color: #C70208;
    left: 0;
    border-top-left-radius: 10%;
}


.page-banner__card-num {
    padding: 10px;
    text-align: left;
    font-size: 55px;
    font-weight: 700;
    z-index: 5;
}




.page-banner__card:hover {
    outline: 6px solid #C70208;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

.swiper {
width: 100%;
}

.swiper-wrapper {
    width: 100%;
    display: flex;
    gap: 30px;
}

.swiper-slide {
    width: 250px;
    min-height: 230px;
}



@media (max-width:390px) {

    .page-banner {}

    .page-banner__title {
        font-size: 31px;
    }

    .page-banner__title--size {
        font-size: 19.3px;
    }

    .page-banner__card-img {
        min-width: 120px;
        height: auto;
    }

    .page-banner__card-img:hover {
        outline: 3px solid red;
    }
}

@media (max-width:375px) {
    .page-banner {
        height: 50vh;
    }
}