-
    var headers = [
        {
            title: 'Главная',
        },
        {
            title: 'О Мордовии',
        },
        {
            title: 'Чем заняться',
        },
        {
            title: 'Что поесть',
        },
        {
            title: 'Где разместиться',
        },
        {
            title: 'Маршруты',
        },
        {
            title: 'Прием гостей',
        },
    ];


header.header
    .container
        .header__wrapper 
            .logo 
                img.logo__img(src="./img/logo.svg" alt="Мордовия")
                p.header__logo-text Мордовия 
            nav.header__menu 
                ul.header__menu-list 
                    each title in headers
                        li.header__menu-item 
                            a.header__menu-link(href="#")=title.title
            .header__actions 
                button.header__search-btn 
                    img.search__search-icon(src="./img/search-icon.svg" alt="Поиск")
                a.header__airplane-link 
                    img.header__airplane-icon(src="./img/airplane-icon.svg" alt="Самолет")
                button.header__language-btn 
                    ul.header__language-text RU 
                    img.header__language-icon(src="./img/arrow-icon.svg" alt="")
            button.header__burger-menu#burger 
                .header__burger-menu-el
                .header__burger-menu-el
                .header__burger-menu-el
            nav.header__sidebar-menu
                ul.header__sidebar-list
                    each title in headers
                        li.header__sidebar-item 
                            a.header__sidebar-link(href="#")=title.title