section.dont-miss
    .container
        h2.title-section.title-section--left Не пропусти знаковое!
        .dont-miss__wrapper 
            .dont-miss__card(style="background-image: url(./img/dont-miss-img1.png)")
                .dont-miss__card-inner
                    p.dont-miss__card-text Музей изобразительных искусств имени С.Д. Эрьзи
                    .dont-miss__card-address 
                        img.dont-miss__card-address-icon(src="./img/marker-icon.svg", alt="")
                        p.dont-miss__card-address-text Коммунистическая улица, 61
            .dont-miss__card(style="background-image: url(./img/dont-miss-img2.png)")
                .dont-miss__card-inner
                    p.dont-miss__card-text Музей изобразительных искусств имени С.Д. Эрьзи
                    .dont-miss__card-address 
                        img.dont-miss__card-address-icon(src="./img/marker-icon.svg", alt="")
                        p.dont-miss__card-address-text Коммунистическая улица, 61
            .dont-miss__card(style="background-image: url(./img/dont-miss-img3.png)")
                .dont-miss__card-inner
                    p.dont-miss__card-text Музей изобразительных искусств имени С.Д. Эрьзи
                    .dont-miss__card-address 
                        img.dont-miss__card-address-icon(src="./img/marker-icon.svg", alt="")
                        p.dont-miss__card-address-text Коммунистическая улица, 61
            .dont-miss__card(style="background-image: url(./img/dont-miss-img4.png)")
                .dont-miss__card-inner
                    p.dont-miss__card-text Музей изобразительных искусств имени С.Д. Эрьзи
                    .dont-miss__card-address 
                        img.dont-miss__card-address-icon(src="./img/marker-icon.svg", alt="")
                        p.dont-miss__card-address-text Коммунистическая улица, 61
            .dont-miss__card(style="background-image: url(./img/dont-miss-img5.png)")
                .dont-miss__card-inner
                    p.dont-miss__card-text Музей изобразительных искусств имени С.Д. Эрьзи
                    .dont-miss__card-address 
                        img.dont-miss__card-address-icon(src="./img/marker-icon.svg", alt="")
                        p.dont-miss__card-address-text Коммунистическая улица, 61
            .dont-miss__card(style="background-image: url(./img/dont-miss-img6.png)")
                .dont-miss__card-inner
                    p.dont-miss__card-text Музей изобразительных искусств имени С.Д. Эрьзи
                    .dont-miss__card-address 
                        img.dont-miss__card-address-icon(src="./img/marker-icon.svg", alt="")
                        p.dont-miss__card-address-text Коммунистическая улица, 61

            