

section.home-section.home-section--events
    .container
        h2.title-section Узнай о событиях
        .events__wrapper 
            .events__cards 
                //- .events__card
                //-     img.events__card-img(src="./img/events-img1.jpg", alt="")
                //-     h3.title-card Новогодняя квест-экскурсия «Загадки города С»
                //-     .events__card-date 
                //-         img.events__card-date-img(src="./img/calendar.svg", alt="")
                //-         time.events__card-date-text 22 ноября - 31 января, 9:00 - 18:00
                //- .events__card
                //-     img.events__card-img(src="./img/events-img2.jpg", alt="")
                //-     h3.title-card Комедия «Тайный Санта»
                //-     .events__card-date 
                //-         img.events__card-date-img(src="./img/calendar.svg", alt="")
                //-         time.events__card-date-text 8 декабря
                //- .events__card
                //-     img.events__card-img(src="./img/events-img3.jpg", alt="")
                //-     h3.title-card Выставка произведений детей и подростков с особенностями ментального развития
                //-     .events__card-date 
                //-         img.events__card-date-img(src="./img/calendar.svg", alt="")
                //-         time.events__card-date-text 15 декабря – 15 января
                //- .events__card
                //-     img.events__card-img(src="./img/events-img4.jpg", alt="")
                //-     h3.title-card Выставка «100 символов Страны Советов»
                //-     .events__card-date 
                //-         img.events__card-date-img(src="./img/calendar.svg", alt="")
                //-         time.events__card-date-text 15 декабря – 15 января
                //- .events__card
                //-     img.events__card-img(src="./img/events-img4.jpg", alt="")
                //-     h3.title-card Выставка «100 символов Страны Советов»
                //-     .events__card-date 
                //-         img.events__card-date-img(src="./img/calendar.svg", alt="")
                //-         time.events__card-date-text 15 декабря – 15 января

                //- ВЕРСТКА КАРТОЧКИ КАК ОТДЕЛЬНОГО БЛОКА ДЛЯ ПЕРЕИСПОЛЬЗОВАНИЯ
                .card 
                    .card__picture 
                        img.card__picture-img(src="./img/events-img1.jpg", alt="")
                    .card__content
                        h3.card__content-title Новогодняя квест-экскурсия «Загадки города С»
                        p.card__content-text 22 ноября - 31 января, 9:00 - 18:00 
                .card 
                    .card__picture 
                        img.card__picture-img(src="./img/events-img1.jpg", alt="")
                    .card__content
                        h3.card__content-title Новогодняя квест-экскурсия «Загадки города С»
                        p.card__content-text 22 ноября - 31 января, 9:00 - 18:00 
                .card 
                    .card__picture 
                        img.card__picture-img(src="./img/events-img1.jpg", alt="")
                    .card__content
                        h3.card__content-title Новогодняя квест-экскурсия «Загадки города С»
                        p.card__content-text 22 ноября - 31 января, 9:00 - 18:00 
                .card 
                    .card__picture 
                        img.card__picture-img(src="./img/events-img1.jpg", alt="")
                    .card__content
                        h3.card__content-title Новогодняя квест-экскурсия «Загадки города С»
                        p.card__content-text 22 ноября - 31 января, 9:00 - 18:00 