

section.home-section.home-section--excursions
    .container
        h2.title-section Выбери туры и экскурсии
        .excursions__wrapper 
            .excursions__cards
                .excursions__card(style="background-image: url(./img/excursions-img1.png)") 
                    h3.title-block.title-block--excursions Интерактивы и мастер-классы 
                    button.excursions__btn Посмотри
                .excursions__card(style="background-image: url(./img/excursions-img2.png)") 
                    h3.title-block.title-block--excursions Интерактивы и мастер-классы 
                    button.excursions__btn Посмотри
                        




 
