

section.excursions
    .container
        h2.title-section Выбери туры и экскурсии
        .excursions__wrapper 
            .excursions__cards
                .excursions__card(style="background-image: url(./img/excursions-img1.png)") 
                    h3.title-block--excursions Интерактивы и мастер-классы 
                    button.excursions__btn 
                        span.excursions__btn-text Посмотри
                        img.excursions__btn-icon(src="./img/arrow-right.svg", alt="")
                .excursions__card(style="background-image: url(./img/excursions-img2.png)")  
                    h3.title-block--excursions Интерактивы и мастер-классы 
                    a.excursions__btn(href="") 
                        span.excursions__btn-text Посмотри
                        img.excursions__btn-icon(src="./img/arrow-right.svg", alt="")



 
