-
  var desc = [
    {
      text: "Мордовия – это динамично развивающийся регион, расположенный в центральной части Русской равнины. На территории республики проживает более 800 тысяч жителей. Мордовия – многонациональная республика, где издавна сложились гармоничные межэтнические отношения. Существующему национальное согласие способствует развитию самобытной национальной культуры и бытовых традиций всех народов республики. Коренное население республики – мордва, она относится к финно-угорский языковой группе. Этнически мордва неоднородна и состоит из двух групп – эрзя и мокша.",
    },
    {
      text: "Республика является одной из самых экологически чистых территорий европейской части страны, а Саранск – считается одним из самых благоустроенных городов России.",
    },
    {
      text: "На старинном гербе Саранска изображены красная лисица и три стрелы, символизировавшие охотничьи промыслы, которыми занималось местное население. Современный Саранск – крупный промышленный центр свето- и электротехники, машиностроения, это город талантливых людей – ученых, студентов, спортсменов.",
    },
    {
      text: "Мордовия – это регион, где гармонично сочетаются исторические древности, спрятанные от суетного мира в благоговейной тишине вековых дубрав, и динамичная жизнь инновационных научно-технических центров, культурные ценности народа и современная архитектура зданий."
    },

  ];


section.home-section.home-section--open-mordovia
  .container
    h2.title-section.title-section--left Открой Мордовию! 
    .open-mordovia__wrapper 
      .open-mordovia__content 
        each item in desc
          ul.open-mordovia__content-list 
            li.open-mordovia__content-item=item.text    
        a.open-mordovia__content-link(href="#") Подробнее
      .video-wrapper
        iframe.open-mordovia__video(src="https://www.youtube.com/embed/aZMM3T4ogbQ?si=b5mwW0aj_ExZR8ZF" width="100%" height="100%" frameborder="0") 
        

