



section.page-banner
    h1.page-banner__title 13 причин 
        span.page-banner__title--size посетить Мордовию:
            .page-banner__cards
                .page-banner__card(style="background-image: url(./img/banner-card1.png)") 
                    p.page-banner__card-num 1
                .page-banner__card(style="background-image: url(./img/banner-card2.png)")  
                    p.page-banner__card-num 2
                .page-banner__card(style="background-image: url(./img/banner-card3.png)") 
                    p.page-banner__card-num 3
                .page-banner__card(style="background-image: url(./img/banner-card4.png)")  
                    p.page-banner__card-num 4
                .page-banner__card(style="background-image: url(./img/banner-card5.png)")  
                    p.page-banner__card-num 5
                .page-banner__card(style="background-image: url(./img/banner-card6.png)")  
                    p.page-banner__card-num 6