-
  var cards = [
    {
      image: "./img/sub-img1.png",
    },
    {
      image: "./img/sub-img2.png",
    },
    {
      image: "./img/sub-img3.png",
    },
    {
      image: "./img/sub-img4.png",
    },
    {
      image: "./img/sub-img4.png",
    },
    {
      image: "./img/sub-img4.png",
    },
   
  ];

section.home-section.home-section--subscribe
    .container
        h2.title-section.title-section--left Подпишись!
        .subscribe-swiper.swiper 
            .subscribe__cards.swiper-wrapper 
                 each card in cards
                    .subscribe__card.swiper-slide 
                        img.subscribe__card-img(src=`${card.image}`, alt="")
