
@import './layout/base';


@import './blocks/header.scss';
@import './blocks/burger-menu.scss';
@import './blocks/page-banner.scss';
@import './blocks/events.scss';
@import './blocks/excursions.scss';
@import './blocks/inspire.scss';
@import './blocks/dont-miss.scss';
@import './blocks/open-mordovia.scss';
@import './blocks/subscribe.scss';
@import './blocks/footer.scss';





