h1, h2, h3, h4, h5, h6 {
    font-family: "Manrope", sans-serif;
}


.title-section {
   font-size: 40px;
   font-weight: 800;
   text-align: center;
}

.title-section--left {
    text-align: left;
    
}


@media (max-width:400px) {
    .title-section {
        font-size: 20px;
    }

    
}