


footer.footer 
      .footer__wrapper 
        .footer__inner-info
          .logo--footer 
            img.logo__img--footer(src="./img/logo-footer.svg", alt="")
          .footer__info 
            p.footer__info-text Туристско-информационный центр республики Мордовия 
              span 430005, г. Саранск, ул. Б.Хмельницкого, д. 26, оф. 106
            a.footer__info-privacy-policy(href="") Политика конфиденциальности
        .footer__inner-actions 
          p.footer__tel +7 (8342) 77-76-77
          a.footer__question(href="#!") Задать вопрос
          ul.footer__social-list 
            li.footer__social-item 
              a.footer__social-link(href="")
                img.footer__social-link-icon(src="./img/vk-icon.svg", alt="") 
            li.footer__social-item 
              a.footer__social-link(href="")
                img.footer__social-link-icon(src="./img/odnok-icon.svg", alt="") 
            li.footer__social-item 
              a.footer__social-link(href="")
                img.footer__social-link-icon(src="./img/dzen-icon.svg", alt="")