doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Мордовия
    link(rel="stylesheet", href="./main.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
  body
     
    include ../page-block/header/header.pug
    main.main 
      include ../page-block/main/page-banner.pug
      include ../page-block/main/events.pug
      include ../page-block/main/excursions.pug
      include ../page-block/main/inspire.pug
      include ../page-block/main/dont-miss.pug
      include ../page-block/main/open-mordovia.pug
      include ../page-block/main/subscribe.pug
    include ../page-block/footer.pug  
    script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
    script(src="./js/swiper.js")    



          










    
        

          

















