-
    var $cards = [
        {
            "name": "COSRX Acne Pimple Master Patch 24 patches",
            "img": "assets/images/cards/4322_shop1_441058.jpg",
            "price": "USD 5.69 ",
            "newPrice": "USD 2.49",
            "brand": "COSRX",
            "isPromotion": true
        },
        {
            "name": "COSRX ALOE SOOTHING SUN CREAM SPF50 PA+++ 50ml",
            "img": "assets/images/cards/37b5d353392c3c54a3b5309fff6b9782.jpg",
            "price": "USD 16.25 ",
            "newPrice": "USD 7.99",
            "brand": "COSRX",
            "isPromotion": false
        },
        {
            "name": "ETUDE HOUSE Fixing Tint 4g",
            "img": "assets/images/cards/a2dc101b2c0d8ab0c2a57c69013e1132.jpg",
            "price": "USD 13.50 ",
            "newPrice": "USD 7.49",
            "brand": "ETUDE HOUSE",
            "isPromotion": false
        },
        {
            "name": "ETUDE HOUSE SoonJung 2x Barrier Intensive Cream 60ml",
            "img": "assets/images/cards/ef24310a62717c8720d97cce7e1ca0e6.jpg",
            "price": "USD 20.00 ",
            "newPrice": "USD 11.99",
            "brand": "ETUDE HOUSE",
            "isPromotion": true
        },
        {
            "name": "TIAM Vita B3 Source 40ml",
            "img": "assets/images/cards/283187f3d5e4a70bac59c39a6b2f782c.jpg",
            "price": "USD 20.00 ",
            "newPrice": "USD 11.99",
            "brand": "TIAM",
            "isPromotion": false
        },
        {
            "name": "celimax Derma Nature Fresh Blackhead Jojoba Cleansing Oil 150ml",
            "img": "assets/images/cards/b18942799d9cd2fd7e91fd399d8691a8.jpg",
            "price": "USD 16.00 ",
            "newPrice": "USD 11.99",
            "brand": "celimax",
            "isPromotion": false
        },
        {
            "name": "MISSHA All-around Safe Block Soft Finish Sun Milk SPF50+ PA+++ 70ml",
            "img": "assets/images/cards/c6036f0364f5fcaf2ae1bc0a228e1d4b.jpg",
            "price": "USD 22.16 ",
            "newPrice": "USD 10.99",
            "brand": "MISSHA",
            "isPromotion": false
        },
        {
            "name": "WellDerma G Plus Silver Peptide Ampoule 30ml",
            "img": "assets/images/cards/97fb58cf08cb7118cb4c792a6efb2eba.jpg",
            "price": "USD 49.00 ",
            "newPrice": "USD 9.99",
            "brand": "WellDerma",
            "isPromotion": false
        },
        {
            "name": "SKIN1004 Madagascar Centella Ampoule 100ml",
            "img": "assets/images/cards/690953c396e50cfebcd10c918ba3faec.jpg",
            "price": "USD 24.00 ",
            "newPrice": "USD 14.99",
            "brand": "SKIN1004",
            "isPromotion": false
        },
        {
            "name": "MEDIHEAL Teatree Care Solution Essential Mask EX 10ea",
            "img": "assets/images/cards/8f32e784dd8fc3378109748586361681.jpg",
            "price": "USD 19.00 ",
            "newPrice": "USD 9.99",
            "brand": "MEDIHEAL",
            "isPromotion": false
        },
        {
            "name": "Logically, Skin Aquatide Resurface Serum 50ml",
            "img": "assets/images/cards/4c1a1b62d44fb78fe3057b07136b08f0.jpg",
            "price": "USD 47.00 ",
            "newPrice": "USD 13.99",
            "brand": "Logically, Skin",
            "isPromotion": false
        },
        {
            "name": "LANEIGE Lip Sleeping Mask EX 20g",
            "img": "assets/images/cards/2993906be8bf5ae3e95531c0af4fd52c.jpg",
            "price": "USD 20.00 ",
            "newPrice": "USD 14.99",
            "brand": "LANEIGE",
            "isPromotion": false
        },
        {
            "name": "AMPLE:N Peptide Shot Ampoule 100ml",
            "img": "assets/images/cards/5631dafa10c5fdc9cd696a08cea7a5b2.jpg",
            "price": "USD 67.00 ",
            "newPrice": "USD 15.99",
            "brand": "AMPLE:N",
            "isPromotion": false
        },
        {
            "name": "Cos De BAHA Vitamin C Serum 30ml",
            "img": "assets/images/cards/4191c54cadc9081728bf9d4b4b8a496d.jpg",
            "price": "USD 13.95 ",
            "newPrice": "USD 9.99",
            "brand": "Cos De BAHA",
            "isPromotion": false
        },
        {
            "name": "LANEIGE Cica Sleeping Mask 60ml",
            "img": "assets/images/cards/9ff7c17623fca8d3b77d3883087bb01f.jpg",
            "price": "USD 28.16 ",
            "newPrice": "USD 17.99",
            "brand": "LANEIGE",
            "isPromotion": false
        },
        {
            "name": "Beauty of Joseon Radiance Cleansing Balm 100ml",
            "img": "assets/images/cards/1db7aa4c58bea4b0aba51cdc61437eb6.jpg",
            "price": "USD 23.00 ",
            "newPrice": "USD 13.99",
            "brand": "Beauty of Joseon",
            "isPromotion": false
        },
        {
            "name": "LANEIGE Water Sleeping Mask EX 70ml",
            "img": "assets/images/cards/da3b37ccaa71caa3c97546ff2ea4342e.jpg",
            "price": "USD 24.59 ",
            "newPrice": "USD 15.99",
            "brand": "LANEIGE",
            "isPromotion": false
        },
        {
            "name": "The Ordinary Retinol 0.2% in Squalane 30ml",
            "img": "assets/images/cards/10122fb9eef020d5a51505f9e1f5d5d5.jpg",
            "price": "USD 15.00 ",
            "newPrice": "USD 11.99",
            "brand": "The Ordinary",
            "isPromotion": false
        },
        {
            "name": "PURITO Daily Go-To Sunscreen 60ml",
            "img": "assets/images/cards/fb484d99f4c0da84c89070109ce8d3b5.jpg",
            "price": "USD 24.00 ",
            "newPrice": "USD 12.99",
            "brand": "PURITO",
            "isPromotion": false
        },
        {
            "name": "AXIS-Y Dark Spot Correcting Glow Serum 50ml",
            "img": "assets/images/cards/4122d4784a8414ca57034bb3bb50c377.jpg",
            "price": "USD 19.00 ",
            "newPrice": "USD 10.99",
            "brand": "AXIS-Y",
            "isPromotion": false
        },
        {
            "name": "SKIN&LAB Vitamin C Brightening Serum 30ml",
            "img": "assets/images/cards/47b92ef3d6ca08410f908af251f60e78.jpg",
            "price": "USD 40.00 ",
            "newPrice": "USD 15.99",
            "brand": "SKIN&LAB",
            "isPromotion": false
        },
        {
            "name": "Dr.G Red Blemish Clear Soothing Cream 70ml",
            "img": "assets/images/cards/2fd0aed78e3043100a3720c63c785093.jpg",
            "price": "USD 36.00 ",
            "newPrice": "USD 19.99",
            "brand": "Dr.G",
            "isPromotion": false
        },
        {
            "name": "Beauty of Joseon Ginseng Cleansing Oil 210ml",
            "img": "assets/images/cards//33da4fc8fac0c00a35838d09d22805dc.jpg",
            "price": "USD 21.00 ",
            "newPrice": "USD 14.99",
            "brand": "Beauty of Joseon",
            "isPromotion": false
        },
        {
            "name": "SKINFOOD Royal Honey Propolis Enrich Barrier Cream 63ml",
            "img": "assets/images/cards/41cf2c0fbcbe8b416b303f611a653003.jpg",
            "price": "USD 45.00 ",
            "newPrice": "USD 16.99",
            "brand": "SKINFOOD",
            "isPromotion": true
        },
        {
            "name": "ROUND LAB 1025 Dokdo Water Gel Mask Sheet 30ml 10ea",
            "img": "assets/images/cards/19830b712d9e8a3f6a2683929ab3fa9f.jpg",
            "price": "USD 32.15 ",
            "newPrice": "USD 19.99",
            "brand": "ROUND LAB",
            "isPromotion": false
        }
    ]
